article {
    position: relative;
    padding: 20px 0 50px 0;
    @include media-breakpoint-up(lg) {
        padding: 0 0 150px 0;
		&:before {
			background-image: url('../img/logo-bg.svg');
			content: '';
			width: 485px;
			height: 628px;
			z-index: -1;
			position: absolute;
			top: 250px;
			left: -400px;
		}

		// no logo background on news articles located on homepage
		.home &,
		.blog & {
			&:before {
				display: none;
			}
		}
    }

	figure {
		.figure-caption {
			font-style: normal;
			font-size: 14px;
			font-weight: 700;
		}
	}

	.headshot {
		display: block;
		margin: 0 auto 20px auto;
		img {
			display: block;
			margin: 0 auto 20px auto;
		}
		@include media-breakpoint-up(sm) {
			display: inline-block;
			float: right;
			margin: 0 0 20px 20px;
		}
	}
}
