.breadcrumb-container {
    padding: 10px 0;
}

.breadcrumb {
	background: $brand-white;
    color: $brand-light-gray2;
    font-size: 14px;
    line-height: 24px;
	padding-left: 0;
}

.breadcrumb-item {
    color: $brand-light-gray2;
    + .breadcrumb-item:before {
        color: $brand-light-gray2;
    }
    &.active {
        color: $brand-light-gray2;
    }
    a {
        color: $brand-light-gray2;
        text-decoration: none;
        &:hover {
            color: darken($brand-light-gray2, 10%);
        }
    }
}
