.btn {
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 75px 12px 25px;
    position: relative;

    .fas {
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
    }

    &.btn-primary {
        background-color: $brand-blue;

        &:hover {
            background-color: darken($brand-blue, 5%);
        }
    }

    &.btn-secondary {
        background-color: $brand-white;
        color: $brand-blue;
        &:hover {
            background-color: darken($brand-white, 5%);
        }
    }
}
