.card-bio {
	border-radius: 0;
	border: 1px solid $brand-light-gray2;
	margin-bottom: 20px!important;
	text-align: center;
	 
	@include media-breakpoint-up(sm) {
		text-align: left;
	}
	img {
		display: block;
		margin: 0 auto 20px auto;
		@include media-breakpoint-up(sm) {
			display: inline;
		}
	}

	.card-title {
		font-size: 14px;
		font-weight: 700;
	}

	.card-text {
		font-size: 14px;
		font-weight: 500;
	}
}