footer {
    background-color: #231f20;
    color: #fff;

    .social-nav {
        a {
            color: $brand-gray;
            &:hover {
                color: lighten($brand-gray, 20%);
            }
        }
    }
}
