nav a {
    text-transform: uppercase;
}

.navbar {
    @include media-breakpoint-up(lg) {
        margin: 0 50px;
    }
}

.navbar-light {
    .navbar-brand {
        color: $blue;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 20px;
        text-transform: uppercase;
    }
}
