@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$worksans: 'Work Sans', sans-serif;

html,
body {
    color: $brand-dark-gray;
    font-family: $worksans;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    font-size: 40px;
    line-height: 1.25;
    font-weight: 400;
    @include media-breakpoint-up(lg) {
        font-size: 60px;
    }
}

h2 {
    color: $brand-dark-blue;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

h3 {
    color: $brand-dark-gray;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

p {
    font-size: 16px;
    line-height: 24px;
}

.lead {
    color: $brand-dark-blue;
    font-size: 30px;
    font-weight: 300;
    line-height: 34px;
}

article {
    a {
        color: $brand-blue;
        text-decoration: none;
        &:hover {
            color: $brand-red;
        }
    }
}

.figure-caption {
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    font-style: italic;
}
