// Brand Colors

$brand-blue: #0914c3;
$brand-dark-blue: #18266d;
$brand-red: #cc3256;
$brand-yellow: #fcb310;

$brand-light-gray: #f0f0f0;
$brand-light-gray2: #929497;
$brand-med-gray: #a6a8ab;
$brand-dark-gray: #414042;
$brand-dark-gray2: #231f20;

$brand-dark: #231f20;
$brand-purple: #5b0047;
$brand-light-purple: #86509f;

$brand-pink: #ed5791;
$brand-gray: #414042;
$brand-white: #fff;
$brand-light-gray1: #f0f0f0;
$brand-light-gray2: #bbbdbf;
$brand-dark-gray: #58595b;

$grid-gutter-width: 16px !default;

$base-spacing-unit: 20px;

// $brand-gradient-pink: linear-gradient(180deg, $brand-light-purple 0%, $brand-pink 100%);

$breadcrumb-divider: quote('»');
