body.wp-admin textarea#acf-field_61093de0a347e {
	font-size: 20px!important;
	font-weight: 300!important;
	line-height: 1.2!important;
	color: #18266d !important;
	font-family: "Work Sans", sans-serif!important;
}